* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #302e2e;
}
.container {
  width: 400px;
  padding: 25px 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 10px;
}
.container p {
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 10px;
}
.container input {
  width: 100%;
  height: 50px;
  padding: 10px;
  margin: 10px 0 20px;
  border: 1px solid #989898;
  border-radius: 10px;
  outline: 0;
}
.container button {
  width: 100%;
  height: 50px;
  background: #2b2b2b;
  color: #fff;
  border: 0;
  outline: 0;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  margin: 20px 0;
}
.container button:hover {
  background: #3c3c3c;
}
#imgbox {
  width: 200px;
  border-radius: 5px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-in-out, margin 1s ease-in-out,
    border 1s ease-in-out;
}
#imgbox img {
  width: 100%;
  padding: 10px;
}
#imgbox.show-img {
  max-height: 300px;
  margin: 10px auto;
  border: 1px solid #d1d1d1;
}
